@import '../../../assets/sass-helpers/variables';
@import '../../../assets/sass-helpers/mixins';
section.service-detail{
    background-color: transparentize($color: $grey, $amount: 0.8);
    margin-bottom: 30px;
    .header{
        padding-top: 80px;
        @media screen and (min-width: 768px) {
            padding-top: 150px;
        }
        
        margin-bottom: 80px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
       
        .service-header-wrapper{
            position: relative;
            bottom: -40px;
            .profile-pic{
                margin-right: 20px;
                border: 2px solid $red;
                .img{
                    height: 100%;
                    width: 100%;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }
        .general-details{
            h2,p,li,a{
                color: $white;
                @media screen and (max-width: 768px) {
                    text-align: center;
                }
            }
            ul{
                margin-bottom: 20px;
                @media screen and (max-width: 768px) {
                    margin-bottom: 50px;
                    justify-content: center;
                }
                li{
                    margin-bottom: 20px;
                    margin-right: 10px;
                    line-height: 36px;
                    span.lnr{
                        margin-right: 5px;
                    }
                }
            }
        }
        .profile-pic{
            overflow: hidden;
            @media screen and (max-width: 768px) {
                margin: 0 auto;
                margin-right: auto !important;
                
            }
            
        }
        .coverpic-change{
            input{
                width: 100%;
            }
        }
    }
    .detail-tab{
        padding: 30px 15px;
        background: $white;
        margin-bottom: 20px;
    }
    .tab-content{
        .tab-pane{
            display: block;
            background: $white;
            max-height: 555px;
            &.fade{
                height: 0;
                padding: 0;
                overflow: hidden;
                
                &.active{
                    padding: 30px 15px;
                    height: auto;
                    overflow-y: auto;
                }
            }
        }
        #gallery{
            padding: 0;
            .gallery-item{
                position: relative;
                .info{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    padding: 0 30px 20px 30px;
                    h4,p{
                        color: $white;
                    }
                }
            }
            .slick-prev{
                left: 20px !important;
            }
        }
    }
    #overview{
        ul{
            li{
                position: relative;
                padding-left: 15px;
                &::before{
                    content: "-";
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }
    }
    #reviews{
        .rating-overview{
            display: flex;
            margin-bottom: 30px;
            h3{
                font-size: 32px;
                font-weight: 300;
            }
            p span{
                color: $red;
            }
        }
        .rating-block{
            background: $red;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $white;
            height: 96px;
            flex-basis: 96px;
            padding: 20px;
            margin-right: 15px;
            span{
                font-size: 18px;
            }
            .overall-rating{
                font-size: 32px;
                font-weight: 600;
            }
            div span{
                font-size: 22px;
            }
        }
        ul{
            margin-bottom: 0;
            li{
                border-bottom: 1px solid transparentize($color: $grey, $amount: 0.6);
                margin-bottom: 20px;
                &:last-child{
                    margin-bottom: 0;
                }
                .date{
                    text-transform: capitalize;
                    font-style: italic;
                }
            }
        } 
    }
    #about-us{
        ul{
           // display: flex;
            //flex-wrap: wrap;
            border-bottom: 1px solid transparentize($color: $grey, $amount: 0.7);
            margin-bottom: 25px;
            li{
                //flex-basis: 50%;
                position: relative;
               // padding-left: 30px;
                margin-bottom: 20px;
                p{
                    margin-bottom: 8px;
                }
                span.lnr{
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
    .contact-form{
        padding: 30px 10px 15px;
        margin-top: 15px;
        background: $white;
        .mat-form-field-appearance-legacy .mat-form-field-infix{
            background-color: $white;
            display: none;
        }
    }
    .shift{
        padding: 15px 10px;
        color: $white;
        &.open{
            background: $green;
        }
        &.closed{
            background: $black;
        }
    }
    .contact-heading{
        margin-bottom: 20px;
        color: $red;
    }
    // bootstrap overrides
    .nav-tabs{
        border-bottom: 0;
        margin-bottom: 20px;
        .nav-item{
            margin-right: 10px;
        }
        .nav-link{
            background: transparent;
            border: 0;
            padding: 0;
            &.active{
                color: $red;
                border-bottom: 2px solid $red;
                font-weight: 600;
            }
        }
    }
    // profile-pic
    .profile-pic{
        height: 225px;
        width: 225px;
        @media screen and (max-width: 768px) {
            margin-bottom: 20px;
        }
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        a{
            position: absolute;
            opacity: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            color: $white;
            transition: opacity 0.54s ease-in-out;
            padding: 10px;
            text-align: center;
            background-color: rgba(0,0,0,0.54);
            z-index: 4;
        }
        &:hover{
            a{
                opacity: 1;
            }
        }
        input{
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 3;
            bottom: 0;
            cursor: pointer;
        }
    }
    .btn.coverpic-change{
        position: absolute;
        right: 15px;
        bottom: 0;
        background-color: $white-grey;
        border-radius: 0;
        color: $black;
        font-size: 10px;
        opacity: 0.56;
        z-index: 1;
        input{
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
        }
    }
    .service-header-outer:hover{
        .btn.coverpic-change{
            opacity: 1;
            transition: opacity 0.54s ease-in-out;
           
        }
    }
}
section#rating-popup{
    padding: 0;
}
.rating{
    .ng-star-inserted{
        color: $red;
    }
}
.rating-actions{
    position: absolute;
    right: 10px;
    top: 10px;
    i{
        color: $red;
        margin-left: 10px;
        &.fa-edit{
            color: $black;
        }
    }
}
.overall-rating{
    font-size: 36px !important;
    margin-right: 4px;
    font-weight: 900;
}

form.dark-form{
    margin-top: 15px;
    mat-form-field.mat-form-field{
        display: block;
        width: 100%;
        color: rgba(255,255,255,1) !important;
        .mat-form-field-label{
            opacity: 0;
        }
    }
}

.login-wrapper,
.signup-wrapper{
    display: flex;
    @media screen and (max-width: 767px) {
        flex-direction: column;
    }
    form,.quick-sign-in{
        @include tablet{
            flex-basis: 50%;
        }
    }
    .quick-sign-in{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 20px;
        @include tablet{
            margin-top: 0;
            align-items: center;
            justify-content: center;
            h4{
                text-align: center;
            }
        }
        h4{
            display: inline-block;
            color: $white;
            font-size: 14px;
            font-weight: 600;
            &::after{
                content: "";
                height: 2px;
                width: 100px;
                @include tablet{
                    width: 100%;
                }
                background-color: $white;
                margin-top: 4px;
                display: block;
            }
        }
        ul{
            display: flex;
            li{
                cursor: pointer;
                margin-top: 10px;
                padding: 8px 15px;
                display: flex;
                align-items: center;
                background: #4267b2;
                text-transform: capitalize;
                color: $white;
                &:last-child{
                    background: #34a853;
                }
                i{
                    margin-right: 10px;
                }
            }
            a i{
                font-size: 24px;
                color: $white;
                &:hover{
                    color: $red;
                }
            }
        }
    }
    .btn.btn-primary{
        display: flex;
        i{
            margin-left: 15px;
        }
    }
    p{
        margin-top: 10px;
        color: $white;
        a{
            color: $red;
        }
    }
}
