<app-header></app-header>

<section class="category-detail-list">
  <h2 class="section-title">Services in Travel Category</h2>

  <ul class="d-flex flex-wrap">
    <li *ngFor="let service of serviceList">
      <a [routerLink]="['/getService', service.id]">
        <div class="card">
          <img
            src="../../../../../../wwwroot/ServiceProfilePicture/{{
              service.displayName
            }}/{{ service.originalProfileImageName }}"
            alt="Not Found"
            onerror="this.src='../../../../assets/img/default-service-image.png'"
          />
          <div class="info">
            <span class="rating rounded"
              ><b>{{ service.averageRating | number: "1.1-1" }}</b
              ><small>/5</small></span
            >
            <h4>{{ service.name }}</h4>
            <p class="address">{{ service.address }}</p>
          </div>
        </div>
      </a>
    </li>
  </ul>
  <div class="col-md-12">
    <div class="text-center mb-5">
      <a
        *ngIf="loadMoreButton === true"
        (click)="loadMore()"
        class="btn btn-primary text-white"
        >Load More <span class="fa fa-plus ml-2"></span>
      </a>
    </div>
  </div>
</section>

<app-footer></app-footer>
