<section class="how-it-works bg-grey text-center">
  <div class="container-lg">
    <h2 class="section-title">
      Find the Perfect Match for Your Services
    </h2>
    <p class="text-center mx-auto mb-5">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae tripper in the sljlknsdf loasnder lajsdoj jknaj linser paders vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas</p>
    <ul class="steps d-flex flex-wrap flex-md-nowrap">
      <li>
        <img src="../../../../assets/img/how-to-icons/objective.svg" alt="">
        <h4>Find Service Providers</h4>
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione</p>
      </li>
      <li>
        <img src="../../../../assets/img/how-to-icons/email.svg" alt="">
        <h4>Contact Service Providers</h4>
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione</p>
      </li>
      <li>
        <img src="../../../../assets/img/how-to-icons/conversation.svg" alt="">
        <h4>Use Service</h4>
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione</p>
      </li>
    </ul>
  </div>
</section>