/Finder.Framework.DataAccess/bin
/Finder.Framework.Model/bin
/Finder.Module/Finder.AccountManagement/bin
/src/Finder.Endpoint/bin
/src/Finder.Endpoint/ClientApp/node_modules
/.vs
/src/ServiceFinder/ClientApp/node_modules
/src/ServiceFinder.Framework.DataAccess/bin
/src/ServiceFinder.Framework.DataAccess/obj
/src/ServiceFinder/bin
/src/ServiceFinder/obj
/src/ServiceFinder.Framework.Model/bin
/src/ServiceFinder.Framework.Model/obj
/src/ServiceFinder.Module/ServiceFinder.AccountManagement/bin
/src/ServiceFinder.Module/ServiceFinder.AccountManagement/obj
/tests/ServiceFinder.AccountManagement.UnitTests/bin
/tests/ServiceFinder.AccountManagement.UnitTests/obj
/database/ServiceFinder.SSDT/*.dbmdl
/src/ServiceFinder.Module/ServiceFinder.Dashboard/bin
/src/ServiceFinder.Module/ServiceFinder.Dashboard/obj
/database/ServiceFinder.SSDT/ServiceFinder.SSDT.dbmdl
/database/ServiceFinder.SSDT/ServiceFinder.SSDT.jfm
/database/ServiceFinder.SSDT/bin
/database/ServiceFinder.SSDT/obj
/src/ServiceFinder/wwwroot
/src/.vs
/src/ServiceFinder/appsettings.json
/src/ServiceFinder.Module/ServiceFinder.AdminDashboard/bin
/src/ServiceFinder.Module/ServiceFinder.AdminDashboard/obj
/src/ServiceFinder.DependencyInjection/bin
/src/ServiceFinder.DependencyInjection/obj
/src/ServiceFinder/*
