<app-header></app-header>
<section class="login-forms d-flex justify-content-center align-items-center">
  <!-- login/'signup wrapper' -->
  <div class="tab-wrapper">
    <div class="tab-menu">
      <!-- tab-menu -->
      <ul class="nav nav-tabs" id="loginSignupTab" role="tablist">
        <li class="nav-link active" role="tab" data-toggle="tab" id="loginTab" href="#loginForm">Reset Your Password
        </li>
      </ul>
    </div>
    <!-- tab contents -->
    <div class="tab-content">
      <!-- login -->
      <div class="tab-pane fade show active" role="tabpanel" id="loginForm">
        <div class="login-wrapper">
          <form #form="ngForm" class="dark-form" autocomplete="off" method="POST">
            <mat-form-field>
              <input matInput email name="email" #email="ngModel" [(ngModel)]="useremail" placeholder="Email" required>
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
              <div class="errorMsg" *ngIf="email.errors.required">Email is required.</div>
              <div class="errorMsg" *ngIf="email.errors?.email">
                Email formate is not valid.
              </div>
            </div>

            <button type="submit" (click)="onPassReset(email)" class="btn btn-primary">
              Submit <i class="material-icons">arrow_forward</i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>