<section class="dashboard">
  <mat-sidenav-container>
    <mat-sidenav
      opened
      #sidenav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      fixedInViewport="fixed"
    >
      <div class="logo left-header">
        <a routerLink=""
          ><img src="../../../../assets/img/logo-white.png" alt="logo"
        /></a>
      </div>
      <div class="greeting text-center">
        <p>
          <b>{{ users?.displayName }}</b>
        </p>
      </div>
      <ul>
        <li>
          <a (click)="dashboard()">
            <i class="material-icons">dashboard</i>
            Dashboard
          </a>
        </li>
        <li>
          <a (click)="myservices()">
            <i class="material-icons">build</i>
            Service
          </a>
        </li>
        <li>
          <a (click)="myReviews()" routerLink="/dashboard/myReviews">
            <i class="material-icons">star</i>
            My Reviews
          </a>
        </li>

        <li>
          <a (click)="Setting()" routerLink="/dashboard/editprofile">
            <i class="material-icons">settings</i>
            Setting
          </a>
        </li>
      </ul>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="right-header">
              <button
                mat-button
                (click)="sidenav.toggle(); status = !status"
                [ngClass]="status ? 'active' : ''"
                class="sidebar-toggler"
              >
                <mat-icon>menu</mat-icon>
              </button>
              <h2>{{ title }}</h2>
              <ul class="user-actions d-flex">
                <li class="dropdown thumb">
                  <a
                    href="#"
                    class="dropdown-toggle btn"
                    data-toggle="dropdown"
                  >
                    <img [src]="ProfileImageURL" />
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#">Privacy</a>
                    </li>
                    <li>
                      <a routerLink="/dashboard/editprofile">Profile</a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li>
                      <a (click)="logout()" [routerLink]="">Logout</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a
                    href="#"
                    data-toggle="dropdown"
                    class="dropdown-toggle btn"
                  >
                    <mat-icon>notifications</mat-icon>
                  </a>
                  <ul class="dropdown-menu notifications">
                    <li>
                      <a href="#">Nofification text here</a>
                    </li>
                    <li>
                      <a href="#">Nofification text here</a>
                    </li>
                    <li>
                      <a href="#">Nofification text here</a>
                    </li>
                    <li>
                      <a href="#">Nofification text here</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <router-outlet></router-outlet>
          </div>
        </div>
        <router-outlet name="user"></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
