<header class="d-flex" [ngClass]="{'d-flex':true,'sticky':isSticky}">
  <div class="header-wrapper d-flex justify-content-between flex-wrap align-items-center mx-auto">
    <div class="logo d-flex justify-content-between align-items-center">
      <a routerLink="/">
        <img src="../../../assets/img/logo.png" alt="brand-logo">
      </a>
      <a href="#" id="navigation-toggler" data-toggle="collapse" data-target="#main-menu" class="mobile-show collapsed">
        <span class="hamburger"></span>
      </a>
    </div>
    <div class="navigation-links collapse" id="main-menu">
      <ul class="d-flex justify-content-md-between align-items-sm-center flex-md-row flex-column mb-0">
        <li>
          <a routerLink="/services">Services</a>
        </li>
        <li>
          <a routerLink="#">Help</a>
        </li>
        <li>
          <a routerLink="/categories">Categories</a>
        </li>
        <li class="position-relative no-underline">
          <a routerLink="/signin" *ngIf="!IsUserLogged()"> <i class="far fa-user-circle"></i> Login</a>
          <a routerLink="/dashboard/userdetail" *ngIf="IsUserLogged()" (mouseenter)="hovered()" (mouseleave)="unhovered()"> <i
              class="far fa-user-circle"></i> Welcome,
            {{users?.displayName}}</a>
          <a (click)="logout()" *ngIf="hoverState" class="logout_dropdown btn btn-primary" (mouseenter)="hovered()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</header>