<div class="row">
  <div class="col-md-8">
    <div class="inner-wrapper">
      <h4 class="inner-title">Edit your profile</h4>
      <form #form="ngForm" class="col s12" method="POST" autocomplete="off">
        <!-- profile picture -->
        <div class="demo-form-wrapper">
          <div
            class="profile-photo"
            *ngIf="editprofile.originalImageName === null"
          >
            <img [src]="imageUrl" alt="" />
            <a [routerLink]="">Change Picture</a>
            <input
              type="file"
              (change)="handleImageUpload($event.target.files)"
            />
          </div>
        </div>
        <div class="demo-form-wrapper">
          <div class="profile-photo" *ngIf="editprofile.originalImageName">
            <img src="profileImage" />
            <img *ngIf="updatePic === true" [src]="imageUrl" alt="" />
            <a [routerLink]="">Change Picture</a>
            <input
              type="file"
              (change)="handleImageUpload($event.target.files)"
            />
          </div>
        </div>

        <div class="demo-form-wrapper">
          <mat-form-field>
            <mat-placeholder>Display Name</mat-placeholder>
            <input
              matInput
              type="text"
              [(ngModel)]="editprofile.displayName"
              name="displayName"
              #displayName="ngModel"
              required
            />
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
          <div
            *ngIf="
              displayName.invalid && (displayName.dirty || displayName.touched)
            "
            class="custom-alert"
          >
            <div class="errorMsg" *ngIf="displayName.errors.required">
              Display Name is required.
            </div>
          </div>
        </div>

        <div class="demo-form-wrapper">
          <mat-form-field>
            <mat-placeholder>Address</mat-placeholder>
            <input
              matInput
              type="text"
              name="address"
              #address="ngModel"
              [(ngModel)]="editprofile.address"
              required
            />
          </mat-form-field>
          <div
            *ngIf="address.invalid && (address.dirty || address.touched)"
            class="custom-alert"
          >
            <div class="errorMsg" *ngIf="address.errors.required">
              Address is required.
            </div>
          </div>
        </div>

        <div class="demo-form-wrapper">
          <mat-form-field>
            <mat-placeholder>Email</mat-placeholder>
            <input
              matInput
              type="email"
              name="email"
              #email="ngModel"
              [(ngModel)]="editprofile.email"
              required
              email
            />
          </mat-form-field>
          <mat-icon matSuffix>mail</mat-icon>
          <div
            *ngIf="email.invalid && (email.dirty || email.touched)"
            class="custom-alert"
          >
            <div class="errorMsg" *ngIf="email.errors.required">
              Email is required.
            </div>
            <div class="errorMsg" *ngIf="email.errors?.email">
              Email formate is not valid.
            </div>
          </div>
        </div>

        <div class="demo-form-wrapper">
          <mat-form-field>
            <mat-placeholder>PhoneNumber</mat-placeholder>
            <input
              matInput
              type="tel"
              name="phoneNumber"
              #phoneNumber="ngModel"
              [(ngModel)]="editprofile.phoneNumber"
              maxlength="10"
              required
            />
            <mat-icon matSuffix>phone</mat-icon>
          </mat-form-field>
          <div
            *ngIf="phoneNumber.invalid && phoneNumber.touched"
            class="custom-alert"
          >
            <div class="errorMsg" *ngIf="phoneNumber.errors.required">
              PhoneNumber is required and must have 10 digits
            </div>
          </div>
        </div>

        <button (click)="onProfileUpdate(form)" class="btn btn-primary">
          Update <mat-icon>chevron_right </mat-icon>
        </button>

        <div class="changePassword text-right">
          <a (click)="changePassword()">Change password ?</a>
        </div>
      </form>
    </div>
  </div>

  <div class="col-md-4" style="display: none;">
    <div class="inner-wrapper smallPadding">
      <!-- <form #form="ngForm" class="d-flex justify-content-center align-items-center" method="POST"
                autocomplete="off">
                <div class="picture_change">
                    <img src="{{image}}" onerror="this.src='../../../../assets/img/defaultimg.jpg'">
                </div>
            </form>
            <input type="file"> -->
      <h4 class="inner-title">Change your password ?</h4>
      <div>
        <button (click)="changePassword()" class="btn btn-primary mt-3">
          Do you want to change password?
        </button>
      </div>
    </div>
  </div>
</div>
<section class="confirmation_box" *ngIf="statusActive">
  <div class="confirmation_wrapper">
    <a [routerLink]="" class="cross_btn" (click)="destroyConfbox()"
      ><i class="fas fa-times"></i
    ></a>
    <p>Do you want to edit profile information?</p>
    <div class="confirmation_actions">
      <button (click)="yes(form)" class="btn btn-primary">Yes</button>
      <button (click)="destroyConfbox()" class="btn">No</button>
    </div>
  </div>
</section>
