<div class="row">
    <div class="col-md-7">
        <div class="inner-wrapper">
            <h4 class="inner-title">Change Password</h4>
            <form #form="ngForm" class="col s12" method="POST" autocomplete="off">
                <div class="demo-form-wrapper">
                    <mat-form-field>
                        <mat-placeholder>Current Password</mat-placeholder>
                        <input matInput [type]="hider ? 'text':'password' "
                            [(ngModel)]="editUserPassword.currentPassword" name="currentPassword"
                            #currentPassword="ngModel" required>
                        <mat-icon matSuffix (click)="hider = !hider">{{hider ? 'visibility' : 'visibility_off'}}
                        </mat-icon>
                    </mat-form-field>
                    <div *ngIf="currentPassword.invalid && (currentPassword.dirty || currentPassword.touched)"
                        class="custom-alert">
                        <div class="errorMsg" *ngIf="currentPassword.errors.required">
                            Current Password is required
                        </div>
                    </div>
                </div>

                <div class="demo-form-wrapper">
                    <mat-form-field>
                        <mat-placeholder>New Password</mat-placeholder>
                        <input matInput [type]="hide ? 'text':'password' " [(ngModel)]="editUserPassword.newPassword"
                            name="newPassword" required #newPassword="ngModel"
                            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#$^+=!*()@%&]).{6,}$">
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </mat-form-field>
                    <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="custom-alert">

                        <div class="errorMsg" *ngIf="newPassword.errors.required">
                            New Password is required.
                        </div>
                        <div class="errorMsg" *ngIf="newPassword.errors.pattern">
                            Six or more character password is required and must contain at least one
                            digit, one capital letter and one of these symbols !,@,#,$,%,^,&,*
                        </div>
                    </div>
                </div>

                <div class="demo-form-wrapper">
                    <mat-form-field>
                        <mat-placeholder>Confirm Password</mat-placeholder>
                        <input matInput [type]="hide ? 'text':'password' "
                            [(ngModel)]="editUserPassword.confirmPassword" name="confirmPassword"
                            #confirmPassword="ngModel" required appConfirmEqualValidator="newPassword">
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </mat-form-field>
                    <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
                        class="custom-alert">
                        <div class="errorMsg" *ngIf="confirmPassword.errors.required">
                            Confirm Password Name is required.
                        </div>
                        <div class="errorMsg" *ngIf="confirmPassword.errors?.notEqual">
                            Password and Confirm Password do not match
                        </div>
                    </div>
                </div>

                <div class="row">
                    <button routerLink="/dashboard/editprofile" class="btn btn-primary mr-3">
                        <mat-icon>chevron_left
                        </mat-icon>Back
                    </button>

                    <button (click)="changePassword(form)" class="btn btn-primary">Confirm <mat-icon>chevron_right
                        </mat-icon></button>
                </div>
            </form>
        </div>
    </div>
</div>