<div class="col-md-12">
  <div class="text-right mb-3">
    <a class="btn btn-primary text-white" (click)="addservices()">Create service <span class="fa fa-plus ml-2"></span>
    </a>
  </div>
  <div class="dashboard-block my-services">

    <!-- <div class="header"><a href="#" class="edit-option"><span></span></a></div> -->
    <ul class="services-list">
      <li *ngFor="let item of MyServiceList" class="service-list-item" [value]="item.id">
        <a [routerLink]="['/getService', item.id]">
          <span>{{item.name}}
          </span>
        </a>
        <div class="service-detail">
          <div class="service-actions">
            <ul>
              <li>
                <a (click)="edit(item.id)" class="create-new">
                  <i class="fas fa-edit"></i>
                </a>
              </li>
              <li>
                <a (click)="delete()" class="delete">
                  <i class="fas fa-trash-alt"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <section class="confirmation_box" *ngIf="statusActive">
    <div class="confirmation_wrapper">
      <a class="cross_btn" [routerLink]="" (click)="destroyConfbox()"><i class="fas fa-times"></i></a>
      <p>Do you want to delete the service ? </p>
      <div class="confirmation_actions">
        <button (click)="yes(item.id)" class="btn btn-primary">Yes</button>
        <button (click)="destroyConfbox()" class="btn">No</button>
      </div>
    </div>
  </section>
</div>
