<app-header></app-header>

<section class="login-forms d-flex justify-content-center align-items-center">
    <div class="tab-wrapper">
        <div class="tab-content">
            <div class="tab-pane fade show active" role="tabpanel" id="loginForm">
                <div class="login-wrapper flex-column">
                    <p>Enter your verification code you recieved in email.</p>
                    <form class="dark-form" #form="ngForm" (submit)="onEmailVerification(form)" method="POST" autocomplete="off">
                        <mat-form-field>
                            <input matInput placeholder="Verification Code" name="code" #code="ngModel" [(ngModel)]="emailVerify.code">
                        </mat-form-field>
                        <button type="submit" class="btn btn-primary">
                            Verify Code
                        </button>
                        <p>Code will be valid for 15 minutes only.....</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>