<app-header></app-header>
<section class="our-services">
  <div class="container">
    <ul class="services-wrapper">
      <li class="category">
        <a href="#">
          <h4 class="name">Services<span><img src="../../../../assets/img/serviceCategoryIcons/location.svg"
                alt=""></span></h4>
          <ul class="sub-category">
            <li *ngFor="let item of serviceList" [value]="item.Id">
              <a [routerLink]="['/getService', item.id]">
                {{item.name}}
              </a>
            </li>
          </ul>
        </a>
      </li>
    </ul>
  </div>
</section>