// fonts
$gFont: 'Nunito', sans-serif;
$hFont: 'Oxygen', sans-serif;

// colors
$red: #f91942;
$muteRed: #ce3d66; 
$black: #252525;
$white: #fff;
$white-grey: #fafafa;
$grey: #b7b7b7;
$transBlue: #deeef6;
$green: #3dce88;
$blue: #06a1ce;

// color roles
$primary-color: $muteRed;
$secondary-color: $black;

//  media query breakpoints
$tablet-width: 768px;
$desktop-width: 1200px;
$medium-width: 480px;

 