@import '../../../../assets/sass-helpers/variables';
@import '../../../../assets/sass-helpers/mixins';

section.most-searched{
    padding-bottom: 20px;
    margin-top: -80px;
    .slide{
        margin: 0 20px;
        border-radius: 5px;
        overflow: hidden;
    }
    .card{
        margin: 0 auto;
        height: 280px;
        h4{
            font-size: 16px;
            margin-top:10px;
        }
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .slick-dots{
        position: static;
        display: none;
    }
}